body{
    background: #89D6D9;
    margin: 0;
    padding: 0;
}

#wrapper{
    width: 920px;
    padding: 20px;
    margin: 0 auto;
    background: #FFFFFF;
}
.footer{
    background: #DDDDDD;
    padding: 56px;
    width: 848px;
    margin: 0 auto;
    
}
.tbl,.tbl td ,tbl th{
border: 1px solid #CCCCCC;
border-collapse: collapse;
padding: 4px;
background: #f5f4f2;


}


.tbl th {
    background-color: #ece7d7;
}

.bi{
    font-weight: bold;
    font-style: italic;
}
